.yep{
color: honeydew;
border-radius: 30px;
background-color: rgb(116, 5, 160) ;
font-size: 50px;
}
.my{
    background-color: rgb(116, 5, 160);
    border-radius: 30px;
    font-size: 200px;
    width: 1100px;;
    margin: 0 auto
    
}
.pink{
    background-color: rgba(150, 66, 228, 0.884);
}
.purple{
background-color: rgb(30, 9, 49);
color: rgb(194, 194, 194);
}

.titulo-centro{
    text-align: center;
}
.tik{
    text-align: center;
    width: 100;
    font-weight: bold;
    background-color: rgb(173, 10, 119);
    border-width: 100px;
    
}
.jipo{
     background-color: rgb(116, 5, 160);
    border-radius: 30px;
    font-size: 150px;
    width: 900px;;
    margin: 0 auto
}
.imagee{
    width: 700px;
}
.pix{
    color: honeydew;
border-radius: 30px;
background-color: rgb(116, 5, 160) ;
font-size: 50px;
}
.hyper{
    font-size: 100px;
    color: green;
    text-align: center;
    margin: 0%;
}
.kako{
        font-size: 100px;
    color: green;
    text-align: center;
    margin: 0%;
}
